#message
  |ADキー、または、←→を押してみてね。

.relative
  //- .Kirby
  .Kirby.standby
    .Kirby__body
      .Kirby__arm.Kirby__arm--left
      .Kirby__arm.Kirby__arm--right
      .Kirby__face
        .Kirby__eye.Kirby__eye--left
          .Kirby__eye__glow
        .Kirby__eye.Kirby__eye--right
          .Kirby__eye__glow
        .Kirby__cheek
        .Kirby__mouth
      .Kirby__leg.Kirby__leg--left
      .Kirby__leg.Kirby__leg--right

  .Kirby--mirror
    .Kirby__body
      .Kirby__arm.Kirby__arm--left
      .Kirby__arm.Kirby__arm--right
      .Kirby__face
        .Kirby__eye.Kirby__eye--left
          .Kirby__eye__glow
        .Kirby__eye.Kirby__eye--right
          .Kirby__eye__glow
        .Kirby__cheek
        .Kirby__mouth
      .Kirby__leg.Kirby__leg--left
      .Kirby__leg.Kirby__leg--right

  //- .Kirby--dummy

.controlBtn
  .controlBtn__inner
    .controlBtn__wrap
      .controlBtn__item.controlBtn__item--top

  .controlBtn__inner
    .controlBtn__wrap
      .controlBtn__item.controlBtn__item--left
    .controlBtn__wrap
      .controlBtn__item.controlBtn__item--bottom
    .controlBtn__wrap
      .controlBtn__item.controlBtn__item--right