doctype
html( lang='ja' )
	block head
	include ../_include/_head

	body
		include ../_include/_header

		block content

		include ../_include/_footer

		//- script( src = 'https://code.jquery.com/jquery-3.5.1.min.js' )
		script( src = './assets/js/jquery-3.5.1.min.js' )
		//- script( src = '/assets/js/codepen/kirby.js' )
		script( src = './assets/js/codepen/_kirby.js' type = 'module' )
		script( src = './assets/js/common.js' )